.body {
    font-family:"Roboto", sans-serif; 
    color: rgb(0, 0, 0);
}
.header {}

.header-navigation {}

.list{  list-style-type:none; 
}

.ul{
list-style:none;
}

.link {
    list-style: none;
}

.header-link {
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.3em;
}

.header-list {}

.list {}

.header-item {font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5em;}

.main {}

.main-section {}

.main-section-title1 {font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 1,1em;
letter-spacing: 0.02em;
text-align: center;
}

.button {
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2em;
    cursor: pointer;
}

.button:hover,
.button:focus{
    color: white;
    background-color:#4D5AE5;
}


.section {}

.section-list {}

.section-item {}

.section-title3 {
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2em;
}

.section-after-title3{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: 0.02em;
} 

.jobs {}

.jobs-title2 {
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 1.1em;
}

.jobs-list {}

.jobs-item {}

.section-image {}

.team {}

.team-title2 {font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1em;}

.team-list {}

.team-item {}

.team-image {}

.team-title3 {
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2em;
}

.team-after-title3 {font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;}

.footer {}

.footer-link {font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2em;}

.footer-paragraph {
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: 0.02em;
}